# Getting started

## Reference

https://github.com/JuliaComputing/JuliaBoxTutorials/tree/master/intro-to-julia (github : JuliaComputing/JuliaBoxTutorials/intro-to-julia)

Topics:

1. [How to print](#1)
2. [How to assign variables](#2)
3. [How to comment](#3)
4. [Syntax for basic math](#4)
5. [Exercises](#5)

### Series

http://deepstat.tistory.com/46 (01. Getting started)(in English)

## How to print <a id='1'></a>

Using **println()** to print

In [1]:
println("Hello, Julia!")

Hello, Julia!

## How to assign variables <a id='2'></a>

In [2]:
a = 1
println(a)

1

In [3]:
typeof(a)

Int64

In [4]:
b = 1.1
println(b)
typeof(b)

1.1

Float64

In [5]:
ðŸ˜º = "smiley cat!"
println(ðŸ˜º)
typeof(ðŸ˜º)

smiley cat!

String

To type a smiley cat, use tab completion to select the emoji name and then tab again

In [6]:
# \:smi + <tab> --> select with down arrow + <enter> ---> <tab> + <enter> to complete

After assigning a value to a variable, we can reassign a value of a different type to that variable without any issue.

In [7]:
ðŸ˜º = 1
println(ðŸ˜º)
typeof(ðŸ˜º)

1

Int64

This allows us to write code like

In [8]:
ðŸ˜„ = 0
ðŸ˜  = -1
ðŸ˜„ - ðŸ˜º == ðŸ˜

true

## How to comment <a id='3'></a>

In [9]:
# We can leave comments on a single line using the pound/hash key

In [10]:
#=

For multi-line comments,
use the '#= =#' sequence.

=#

## Syntax for basic math <a id='4'></a>

In [11]:
my_sum = 3 + 7

10

In [12]:
my_difference = 10 - 3

7

In [13]:
my_product = 20 * 5

100

In [14]:
my_quotient = 100 / 10

10.0

In [15]:
my_power = 10 ^ 2

100

In [16]:
my_modulus = 101 % 2

1

## Exercises <a id='5'></a>

### 1.1

Look up docs for the convert function.

In [17]:
?convert

search: convert code_native @code_native

  convert(T, x)

  Convert x to a value of type T.

  If T is an Integer type, an InexactError will be raised if x is not
  representable by T, for example if x is not integer-valued, or is outside
  the range supported by T.

  Examples
  â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡

  julia> convert(Int, 3.0)
  3

  julia> convert(Int, 3.5)
  ERROR: InexactError: Int64(Int64, 3.5)
  Stacktrace:
  [...]

  If T is a AbstractFloat or Rational type, then it will return the closest
  value to x representable by T.

  julia> x = 1/3
  0.3333333333333333

  julia> convert(Float32, x)
  0.33333334f0

  julia> convert(Rational{Int32}, x)
  1//3

  julia> convert(Rational{Int64}, x)
  6004799503160661//18014398509481984

  If T is a collection type and x a collection, the result of convert(T, x)
  may alias all or part of x.

  julia> x = Int[1, 2, 3];

  julia> y = convert(Vector{Int}, x);

  julia> y === x
  true

### 1.2

Assign 365 to a variable named days. Convert days to a float.

In [18]:
days = 356

356

In [19]:
days_copy = convert(Float64,days)

356.0

In [20]:
println(days)
typeof(days)

356

Int64

In [21]:
println(days_copy)
typeof(days_copy)

356.0

Float64

### 1.3

See what happens when you execute

    convert(Int64, "1")
    
and

    parse(Int64, "1")

In [22]:
convert(Int64, "1")

MethodError: MethodError: Cannot `convert` an object of type String to an object of type Int64
Closest candidates are:
  convert(::Type{T<:Number}, !Matched::T<:Number) where T<:Number at number.jl:6
  convert(::Type{T<:Number}, !Matched::Number) where T<:Number at number.jl:7
  convert(::Type{T<:Integer}, !Matched::Ptr) where T<:Integer at pointer.jl:23
  ...

In [23]:
parse(Int64, "1")

1

In [24]:
typeof(parse(Int64, "1"))

Int64

In [25]:
?parse

search: parse tryparse partialsortperm partialsortperm! pairs skipchars

  parse(type, str; base)

  Parse a string as a number. For Integer types, a base can be specified (the
  default is 10). For floating-point types, the string is parsed as a decimal
  floating-point number. Complex types are parsed from decimal strings of the
  form "RÂ±Iim" as a Complex(R,I) of the requested type; "i" or "j" can also be
  used instead of "im", and "R" or "Iim" are also permitted. If the string
  does not contain a valid number, an error is raised.

  Examples
  â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡

  julia> parse(Int, "1234")
  1234

  julia> parse(Int, "1234", base = 5)
  194

  julia> parse(Int, "afc", base = 16)
  2812

  julia> parse(Float64, "1.2e-3")
  0.0012

  julia> parse(Complex{Float64}, "3.2e-1 + 4.5im")
  0.32 + 4.5im