# Getting started

## 참고자료

https://github.com/JuliaComputing/JuliaBoxTutorials/tree/master/intro-to-julia (github : JuliaComputing/JuliaBoxTutorials/intro-to-julia)

주제:

1. [어떻게 출력하나?](#1)
2. [어떻게 변수를 할당하나?](#2)
3. [코멘트를 어떻게 다나?](#3)
4. [기초적인 산수들](#4)
5. [연습문제](#5)

### 함께보기

http://deepstat.tistory.com/45 (01. Getting started)(in English)

## 어떻게 출력하나? <a id='1'></a>

**println()** 을 사용한다.

In [1]:
println("안녕, 줄리아!")

안녕, 줄리아!

## 어떻게 변수를 할당하나? <a id='2'></a>

In [2]:
a = 1
println(a)

1

In [3]:
typeof(a)

Int64

In [4]:
b = 1.1
println(b)
typeof(b)

1.1

Float64

In [5]:
😺 = "smiley cat!"
println(😺)
typeof(😺)

smiley cat!

String

smiley cat을 입력하기 위해서는, tab 완성기능을 사용해서 이모지 이름을 선택하고, 탭을 한 번 더 누르면 된다.

In [6]:
# \:smi + <tab> --> 화살표 아래버튼을 눌러서 선택 + <enter> ---> <tab> + <enter> 눌러서 완성.

변수에 값을 할당하고 나서, 아무런 문제 없이 다른 값을 또 할당할 수 있다. (덮어쓰기)

In [7]:
😺 = 1
println(😺)
typeof(😺)

1

Int64

이 방법은 아래와 같은 코드를 작성할 수 있도록 해준다.

In [8]:
😄 = 0
😠 = -1
😄 - 😺 == 😠

true

## 코멘트를 어떻게 다나? <a id='3'></a>

In [9]:
# 한 줄의 코멘트를 달 때는, # 키 다음에 내용을 입력하면 된다.

In [10]:
#=

여러 줄의 코멘트를 달고 싶으면,
'#= =#' 안에 내용을 넣는다.

=#

## 기초적인 산수들 <a id='4'></a>

In [11]:
my_sum = 3 + 7

10

In [12]:
my_difference = 10 - 3

7

In [13]:
my_product = 20 * 5

100

In [14]:
my_quotient = 100 / 10

10.0

In [15]:
my_power = 10 ^ 2

100

In [16]:
my_modulus = 101 % 2

1

## 연습문제 <a id='5'></a>

### 1.1

convert 함수의 설명을 보자.

In [17]:
?convert

search: convert code_native @code_native

  convert(T, x)

  Convert x to a value of type T.

  If T is an Integer type, an InexactError will be raised if x is not
  representable by T, for example if x is not integer-valued, or is outside
  the range supported by T.

  Examples
  ≡≡≡≡≡≡≡≡≡≡

  julia> convert(Int, 3.0)
  3

  julia> convert(Int, 3.5)
  ERROR: InexactError: Int64(Int64, 3.5)
  Stacktrace:
  [...]

  If T is a AbstractFloat or Rational type, then it will return the closest
  value to x representable by T.

  julia> x = 1/3
  0.3333333333333333

  julia> convert(Float32, x)
  0.33333334f0

  julia> convert(Rational{Int32}, x)
  1//3

  julia> convert(Rational{Int64}, x)
  6004799503160661//18014398509481984

  If T is a collection type and x a collection, the result of convert(T, x)
  may alias all or part of x.

  julia> x = Int[1, 2, 3];

  julia> y = convert(Vector{Int}, x);

  julia> y === x
  true

### 1.2

days 라는 변수에 365를 할당하자. 그리고 days를 float로 바꾸자.

In [18]:
days = 356

356

In [19]:
days_copy = convert(Float64,days)

356.0

In [20]:
println(days)
typeof(days)

356

Int64

In [21]:
println(days_copy)
typeof(days_copy)

356.0

Float64

### 1.3

아래 코드를 실행할 때 어떤 일이 일어나는지 보자.

    convert(Int64, "1")
    
그리고

    parse(Int64, "1")

In [22]:
convert(Int64, "1")

MethodError: MethodError: Cannot `convert` an object of type String to an object of type Int64
Closest candidates are:
  convert(::Type{T<:Number}, !Matched::T<:Number) where T<:Number at number.jl:6
  convert(::Type{T<:Number}, !Matched::Number) where T<:Number at number.jl:7
  convert(::Type{T<:Integer}, !Matched::Ptr) where T<:Integer at pointer.jl:23
  ...

In [23]:
parse(Int64, "1")

1

In [24]:
typeof(parse(Int64, "1"))

Int64

In [25]:
?parse

search: parse tryparse partialsortperm partialsortperm! pairs skipchars

  parse(type, str; base)

  Parse a string as a number. For Integer types, a base can be specified (the
  default is 10). For floating-point types, the string is parsed as a decimal
  floating-point number. Complex types are parsed from decimal strings of the
  form "R±Iim" as a Complex(R,I) of the requested type; "i" or "j" can also be
  used instead of "im", and "R" or "Iim" are also permitted. If the string
  does not contain a valid number, an error is raised.

  Examples
  ≡≡≡≡≡≡≡≡≡≡

  julia> parse(Int, "1234")
  1234

  julia> parse(Int, "1234", base = 5)
  194

  julia> parse(Int, "afc", base = 16)
  2812

  julia> parse(Float64, "1.2e-3")
  0.0012

  julia> parse(Complex{Float64}, "3.2e-1 + 4.5im")
  0.32 + 4.5im