# Strings

## Reference

https://github.com/JuliaComputing/JuliaBoxTutorials/tree/master/intro-to-julia (github : JuliaComputing/JuliaBoxTutorials/intro-to-julia)

Topics:

1. [How to get a string](#1)
2. [String interpolation](#2)
3. [String concatenation](#3)
4. [Exercises](#4)

### Series

http://deepstat.tistory.com/45 (01. Getting started)(in English)
http://deepstat.tistory.com/46 (01. Getting started(ÌïúÍ∏Ä))
http://deepstat.tistory.com/48 (02. Strings(ÌïúÍ∏Ä))

## How to get a string <a id='1'></a>

Enclose your characters in " " or """ """!

In [1]:
s1 = "I am a string."

"I am a string."

In [2]:
s2 = """I am also a string. """

"I am also a string. "

There are a couple functional differences between strings enclosed in single and triple quotes.

One difference is that, in the latter case, you can use quotation marks within your string.

In [3]:
"Here, we get an "error" because it's ambiguous where this string ends."

LoadError: syntax: cannot juxtapose string literal

In [4]:
"""Look, Mom, no "errors"!!! """

"Look, Mom, no \"errors\"!!! "

Note that ' ' define a character, but NOT a string!

In [5]:
typeof('a')

Char

In [6]:
typeof("a")

String

In [7]:
'ab' # error

LoadError: syntax: invalid character literal

## String interpolation <a id='2'></a>

We can use the $ sign to insert existing variables into a string and to evaluate expressions within a string.

Below is an example that contains some highly sensitive personal information.

In [8]:
name = "Jane"
num_fingers = 10
num_toes = 10

10

In [9]:
println("Hello, my name is $name.")
println("I have $num_fingers fingers and $num_toes toes.")

Hello, my name is Jane.
I have 10 fingers and 10 toes.

In [10]:
println("That is $(num_fingers + num_toes) digits in all!!")

That is 20 digits in all!!

## String concatenation <a id='3'></a>

Below are three ways we can concatenate strings!

The first way is to use the string() function.

string() converts non-string inputs to strings.

In [11]:
s3 = "How many cats "
s4 = "is too many cats?"
üê± = 10

10

In [12]:
string(s3, s4)

"How many cats is too many cats?"

In [13]:
string("I don't know, but ", üê±, " is too few.")

"I don't know, but 10 is too few."

We can also use * for concatenation!

In [14]:
s3*s4

"How many cats is too many cats?"

## Exercises <a id='4'></a>

### 2.1

Create a string that says "hi" 1000 times, first with repeat and then with exponentiation operator, which can call * under the hood.

In [15]:
"hi"^1000

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

### 2.2
Declare two variables

    a = 3
    b = 4
    
and use them to create two strings:

    "3 + 4"
    "7"

In [16]:
a = 3
b = 4

4

In [17]:
string(a, " + ", b)

"3 + 4"

In [18]:
string(a + b)

"7"

In [19]:
"$a + $b"

"3 + 4"

In [20]:
"$(a + b)"

"7"